*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.Head{
    display:flex;
    padding: 20px 0px 20px 0px;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 36px;
    font-style: italic;
}

.Play{
    display:flex;
    padding: 20px 0px 20px 0px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 24px;
}


.PlayButt{
    display: flex;
    align-items: center;
    justify-content: center;

}

.RoundButt{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.PlayButt button{
  font-size: 42px;
  padding: 0px 20px 0px 20px;
  background: #22C1C3;
  background: linear-gradient(0deg,rgba(34, 193, 195, 0.59) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 15px;
}

.RoundButt button{
  font-size: 42px;
  padding: 0px 20px 0px 20px;
  background: #22C1C3;
  background: linear-gradient(0deg,rgba(34, 193, 195, 0.59) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 15px;
}

#hScore {
    display: flex;
    justify-content: center;
    align-self: center;
    color:darkmagenta;
    font-size: 24px;
    font-weight: bold;
}

#cScore {
     display: flex;
    justify-content: center;
    align-self: center;
    color:darkblue;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

